#meter {
  transform: rotateX(180deg);
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}
#meter_needle {
  top: 100px;
  left: 90px;
  position: absolute;
  margin-left: 100px;
  transition: transform 2s linear;
  transform-origin: 100% 90%;
  transform-style: preserve-3D;
}

.speedometer {
  width: 300px;
}
.fuil {
  position: absolute;
  top: 210px;
  left: 180px;
}
